#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

url --url ftp://192.168.122.1/pub/inst
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.122.1 --ip=192.168.122.150 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=tester1.example.com
# Root password
rootpw --iscrypted $6$f/dv93KmK1kDGrrA$LMvsl5cdPTdhpqLPBUxzRnxfmHevZuav2kSOVjGWNKkRHwE0nxCeXCR3l/ohakXJxJ96775iDbUUh10b60qy60
# System timezone
timezone America/New_York --isUtc
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --all --initlabel --drives=vda
# Disk partitioning information
part /boot --fstype="xfs" --ondisk=vda --size=500
part pv.1 --fstype="lvmpv" --ondisk=vda --size=12008
volgroup rhel_tester1 --pesize=4096 pv.1
logvol /home  --fstype="xfs" --size=1000 --name=home --vgname=rhel_tester1
logvol /  --fstype="xfs" --size=10000 --name=root --vgname=rhel_tester1
logvol swap  --fstype="swap" --size=1000 --name=swap --vgname=rhel_tester1

%packages
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@multimedia
@print-client
@x11

%end

